<!DOCTYPE html>
<html>
<head>
<title>Bulletin Board</title>

</head>

<body>
<div class="container">
	<h1> Said's BulletinBoard</h1>
	

	

	<form action="create" method="POST">
	    <div class="newboard">
	        <label for="title">Title</label>
	        <input type="text" name="title" class="title" placeholder=" title">
        </div>
        <textarea rows="4" name="body" type="text" class="message" placeholder="Message"></textarea>
        <button type="submit" class="submit">submit</button>
    </form>
</div>
</body>

</html>
